*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



nav ul li{
    display:inline-flex; 
}

nav a{
    text-decoration: none;
    padding: 10px;
    width: 200px;
    font-size: 20px;
}

/*pone que al poner el mouse encima del nav cambie de color*/
nav li:hover {
    background-color:rgb(127, 216, 205);
}

img{
    width: 250px;
    height: 280px;
    border-radius: 5%;
    /*object-fit: cover;*/
}

.contenido{
    display: flex;
    margin: 60px;
}

/*separar con la linea que separa*/
.articulos{
    width: 80%;
    border-right: 3px solid rgb(39, 67, 190);
}

.Secciones{
    display:flex ;
    padding: 50px;
    align-items:self-start;
}
h2{
    text-align: center;
    color: rgb(47, 34, 121);
    font-size: 40px;
    padding: 20px;
    margin: 5px;
}

h3{
    font-size: 30px;
    color: brown;
}

.menu_secundario{
    width: 20%;
    margin-top: 60px;
}

.menu_secundario a{
    display: block;
    text-align: center;
    color: black;
    margin-bottom: 30px;
}
p{
    padding: 10px;
    font-size: 20px;
}

.autores{
    padding: 40px;
}

footer{
    width: 100%;
    height: 200px;
    background-color:rgb(39, 67, 190) ;
    color: aliceblue;
    margin-top: 20px;
    padding-top: 10px;
}

footer p{
    text-align: center;
    padding: 40px;
}

.redes{
    padding-top: 20px;
}

.Instagram img{
    padding-top: 70px;
}

.Twitter img{
    padding-top: 70px;
}

.catalogoL{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
}

.catalogoM{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    
}

.menu_segundo{
    width: 20%;
    margin-top: -43%;
    margin-left: 80%;
}
.menu_segundo a{
    display: block;
    text-align: center;
    color: black;
    margin-bottom: 30px;
}

.ImgPsico{
    width: 100%;
    height: 100%;
}
button{
    background-color:rgb(3, 43, 43);
    border: none;
    color: aliceblue;
    padding: 21px 37px;
    text-decoration: none;
    font-size: 30px;
    border-radius: 5px;
    margin: 20px;
    cursor: pointer;
}
/* Para cuando pasan por encima*/
.button:active{
    background-color: rgb(103, 54, 151);
}

.button:hover{
    background-color: rgb(51, 16, 85);
}

.Secciones input,
.Secciones textarea {
    margin-bottom: 10px; /* Agrega un margen inferior de 10px al input y textarea */
}

.Secciones label {
    display: flex;
    margin-bottom: 5px; /* Agrega un margen inferior de 5px al label */
  }

.sitio-construccion img{
    
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.pregunta{
    display: flex;
    text-align: left;
    padding-top: 30px;
    color: royalblue;
}
  
